numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
tqdm
joblib
pyyaml

torch==2.6.0+cu126
torchvision==0.21.0+cu126
torchaudio==2.6.0+cu126

torch-geometric

opacus
networkx

fastapi
uvicorn[standard]
flwr